<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>CL Search</title>    
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - CLSearch</p>
        </footer>
    </div>
</body>
</html>
