
<h3>Last Scan: @ViewBag.LastScanDate</h3>

<table id="promotedList"><tr><td></td></tr></table> 

<table id="list"><tr><td></td></tr></table> 

<div id="pager"></div>  

@section Scripts
{        
    <script>

    $("#list").jqGrid({
        url: "/api/matches",
        datatype: "JSON",
        mtype: "GET",
        colModel: [
            { name: "Title", key:true, hidden: true },  
            { name: "Link", hidden: true },        
            { name: "WebSite", hidden: true },   
            { name: "SearchString", hidden: true },    
            { name: "act", template: "actions", align: "left", width: 50 }, 
            { label: "Publish Date", name: "PublishDate", width: 125,
                formatter: "date",
                formatoptions: { srcformat: "ISO8601Long", newformat: "m/d/y h:i A"
                }},           
            { name: 'Entry', title: false, width: 700,
                cellattr: function (rowId, cellValue, rowObject, cm, rdata)  {
                    if(rowObject.JennieInterested || rowObject.MarkInterested)
                        return 'style="font-size:125%;" class="ui-state-error-text ui-state-error";"'; 
                    if(rowObject.JennieBuy || rowObject.MarkBuy)
                        return 'style="font-size:125%;" class="ui-state-error-text ui-state-highlight";"';                         
                    if(rowObject.Starred)
                        return ' style="font-size:120%"';
                },            
                formatter: function (cellvalue, options, rowObject) {
                    return '<a href="' + rowObject.Link + '">' + rowObject.Title + ' (' + rowObject.WebSite + ': ' + rowObject.SearchString + ')</a>';
                }},
            { label: "Starred", name: "Starred",  hidden: true },
            { label: "Jen", name: "JennieInterested", width: 60, template: "booleanCheckbox" },
            { label: "Jen Buy", name: "JennieBuy", width: 60, template: "booleanCheckbox" },
            { label: "Mark", name: "MarkInterested", width: 60, template: "booleanCheckbox" },
            { label: "Mark Buy", name: "MarkBuy", width: 63, template: "booleanCheckbox" }
        ],
        pager: "#pager",
        rowNum: 25,
        multiSort: true,
        //sortname: "PublishDate",
        loadonce : true,
        viewrecords: true,
        gridview: true,   
        forceClientSorting: true,  
        caption: "StreamCapture Schedule",
        actionsNavOptions: {
            editbutton: false,
            delbutton: false,
            custom: [
                { action: "promoteRow", position: "first",
                    onClick: function (options) {
                        promoteEntry(options.rowid,getParameterByName('user'));
                        //alert("Post, rowid=" + options.rowid);
                    } },
                { action: "demoteRow", 
                    onClick: function (options) {
                        demoteEntry(options.rowid,getParameterByName('user'));                 
                } }
            ],
            promoteRowicon: "ui-icon-plus",
            promoteentry: "Prmote Entry",
            demoteRow: "Ignore Entry", 
            demoteRowicon: "ui-icon-cancel"      
}        
    }).navGrid("#pager", {edit: false, add: false, del: false, search: false, refresh: true, refreshstate: "current",
            //beforeRefresh: function(){console.log("beforeRefresh");},
            afterRefresh: function(){refreshEntries()}},
        {}, // settings for edit
        {}, // settings for add
        {}, // settings for delete
        {} // search options
    ).jqGrid("filterToolbar", {searchOnEnter: false, defaultSearch:"cn", ignoreCase:true}); 


    function refreshEntries() {      
        $("#list").trigger('reloadGrid', { fromServer: true, current:true });
    }

    function demoteEntry(title,user) {
        jQuery.support.cors = true;
        
        title=encodeURIComponent(title);
        //title=escape(title);

        //alert('title='+title+'&user='+user);
        $.ajax({
            url: '/api/demotetitle',
            type: 'GET',
            data: 'title='+title+'&user='+user, 
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function (data) {
                $("#list").trigger("reloadGrid", { fromServer: true, current: true });
                //alert ("Show Cancelled")
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) { 
                alert("Request: " + XMLHttpRequest);
                alert("Status: " + textStatus); 
                alert("Error: " + errorThrown); 
            } 
        });     
    }  

    function promoteEntry(title,user) {
        jQuery.support.cors = true;

        title=encodeURIComponent(title);
        //title=escape(title);

        $.ajax({
            url: '/api/promotetitle',
            type: 'GET',
            data: 'title='+title+'&user='+user, 
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            success: function(data) {
                $("#list").trigger("reloadGrid", { fromServer: true, current: true });
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) { 
                alert("Status: " + textStatus); alert("Error: " + errorThrown); 
            } 
        }); 
    }
        
    function getParameterByName(name) {
        var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
        return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
    };
        
    </script> 
}  
